body {
    margin:0;
}

#map {
    height:100vh;
    width:100%;
}
#coords {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.090);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}


/* Weather popup styling */
.weather-popup {
    font-size: 14px;
    line-height: 1.5;
}
.weather-popup .leaflet-popup-content-wrapper {
    border-radius: 10px;
}

.weather-popup .leaflet-popup-content {
    margin: 12px;
    width: 100%;
    max-width: 320px;
}

/* Desktop */
.weather-popup {
    font-size: 14px;
}

/* Tablet */
@media (max-width: 768px) {

    .weather-popup .leaflet-popup-content {
        max-width: 260px;
    }

    .weather-popup {
        font-size: 13px;
    }
}

/* Phone */
@media (max-width: 480px) {

    .weather-popup .leaflet-popup-content {
        max-width: 90vw;   /* 🔥 key fix */
    }

    .leaflet-popup {
        width: 90vw !important;  /* forces full responsive width */
    }

    .weather-popup {
        font-size: 12px;
    }
}